body {
	padding: 20 20px;
	margin-left: 20px;
	margin-right: 20px;
	text-align: left;
	font-family: verdana, sans-serif;
}

h1 { 
	color: #218DCA; 
	font: 30px helvetica, arial, sans-serif; font-weight: bold; 
}

ul {
	list-style-position: inside;
	padding-left: 0;
}

li {
	cursor: pointer;
}

.instructions {
	font-size: 12px;
}